*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#0f1425 ;
    flex-direction: column;
}

aside{
    width: 50%;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding:20px;
    margin: 30px;
    font-style: italic;
    letter-spacing: 0.2px;
}

main{
    width: 50%;
    height: 300px;
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2{
    margin-bottom: 40px;
}

div{
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows:1fr;
    margin-top:30px;
    gap:10px;
}

input{
    height: 35px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #141b31;
    padding-left: 10px;
}

main p{
    margin-top: 20px;
    color: #27376d;
}

button{
    background-color: #0f1425;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    text-align: center;
}

button:hover{
    background-color: #141b31;
}



/* Responsive */

@media only screen and (max-width: 1280px) {
    main,
    aside {
      width: 60%;
    }
  }
  
  @media only screen and (max-width: 900px) {
  
    main,
    aside {
      width: 75%;
    }
  }
  
  @media only screen and (max-width: 640px) {

    main,
    aside {
      width: 85%;
    }
  }